.header {
  padding:92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__logo {
  width: 140px;
  height: 105px;
}

.header__links-list {
  display: flex;
  column-gap: 30px;
  list-style-position: inside;
}

.header__links-list-item {
  list-style:circle;
  margin-right: 2px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  text-underline-position: under;
}

.header_address {
  justify-self: end;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image:
  url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  inset: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 2;
}

.aligned-text {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.15;
  z-index: 3;
  row-gap: 20px;
  padding-top: 166px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.aligned-text_left {
  align-self: flex-start;
  z-index: 3;
}

.aligned-text_center {
  align-self: center;
  z-index: 3;
  margin-right: 22px;
}

.aligned-text_right {
  align-self: flex-end;
  z-index: 3;
  margin-right: 22px;
}

.description {
  display: flex;
  padding-top: 54px;
  padding-left: 50px;
  column-gap: 105px;
  align-items: center;
}

.cover__description-text {
  position: relative;
  z-index: 3;
  word-spacing: 19px;
  text-transform: uppercase;
  font-weight: 400;
  color:#FFF;
  font-size:  22px;
  line-height: 28px;
}

.bet-button {
  position: relative;
  z-index: 3;
  width: 256px;
  height: 51px;
  background-color: transparent;
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
  border: 1px solid #FFF;
}

.lots {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: 22px;
  margin-top: 180px;
}

.lots__heading {
  font-weight:700;
  font-size: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
  padding-left: 42px;
}

.cards-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}

.cards-list__item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-left: 42px;
  justify-content: space-between;
  padding-bottom: 48px;
}

.lots-links {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
   background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
   background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  z-index: 3;
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 47px;
  width: 254px;
}

.card__text {
  line-height: 120%;
  font-weight: 400;
  color: #FFF;
  font-size: 20px;
  z-index: 3;
  width: 254px;
}

.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 42px;
}

.about {
  margin-top: 120px;
  width: 1052px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  padding-top: 35px;
  padding-left: 25px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
  column-gap: 40px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding-top: 105px;
  padding-left: 12px;
  padding-bottom: 103px ;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 290px 1fr 1fr;
  width: 1100px;
  margin-top: 165px;
  font-weight: 400;
  font-size: 18px;
}
.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
  line-height: 115%;
  padding-left: 115px;
  padding-top: 16px;
}

.footer__address {
  padding-top: 15px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  justify-content: center;
  padding-left: 72px;
  padding-top: 15px;
}

.footer__social-list-item {
  list-style-type:none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
